body {
  background: $white-hex;
  font-family: $font-family-core;
  color: $dark-hex;
  position: relative;
}
.logo-img {
  height: 64px;
}
.page-header{
  width: 99vw;
  height: auto;
}
#main {
  background: $white-hex;
  z-index: 5;
  @extend .z-depth-light;
}

.preview {
  background: url(/storage/img/first-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  position: relative;
  .typed-cursor {
    font-size: 3rem;
  }
  .particles-js-canvas-el {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .preview-btn {
    @include center_absolute;
    bottom: 10%;
  }
  .preview-text {
    font-family: $font-family-opt;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      margin: 0;
      font-size: 3rem;
    }
    .class {
      color: $aqua-hex;
    }
    .funct {
      color: $yellow-hex;
    }
    .var {
      color: $cyan-hex;
    }
  }
}
footer {
  position: relative;
  z-index: -1;
  .row {
    margin: 0;
  }
  .page-footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer-links {
    display: flex;
    a {
      color: $yellow-hex;
    }
  }
}

// Divider

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: -1px;
  position: absolute;
  left: 0px;
  float: left;

  .parallax1 {
    use {
      fill: $cyan-hex;
    }
  }
  .parallax2 {
    use {
      fill: $yellow-hex;
    }
  }
  .parallax3 {
    use {
      fill: $aqua-hex;
    }
  }
  .parallax4 {
    use {
      fill: $white-hex;
    }
  }
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
