// Body
$body-bg: #f8fafc;


// Typography
$font-family-core: 'Roboto', sans-serif;
$font-family-opt:  'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// My colorsheme
// !!! ОБЯЗАТЕЛЬНО !!!
// При добавлении нового цвета доавбить его в _style.scss
// в виде color:$var и backgraund-color:$var
$bh-white:      #f1f1f1;
$bh-light-gray: #e0e0e0;
$bh-dark:       #241E26;
$bh-aqua:       #34BFA6;
$bh-yellow:     #F2A81D;
$bh-orange:     #F2790F;
$bh-cyan:       #24B0BF;
$bh-dark-blue:  #021C26;
$bh-red:        #D94E41;

// Var
$light-border:solid 1px $bh-light-gray;
$border-radius: 0.575rem;
$avatar-size: 15rem;

@mixin center_absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

