// Body
$body-bg: #f8fafc;


// Typography
$font-family-core: 'Roboto', sans-serif;
$font-family-opt:  'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// My colorsheme
$bh-white:      #f1f1f1;        .bh-whit{color: $bh-white;}
$bh-light-gray: #e0e0e0;        .bh-light-gray{color: $bh-light-gray;}
$bh-dark:       #241E26;        .bh-dark{color: $bh-dark;}
$bh-aqua:       #34BFA6;        .bh-aqua{color: $bh-aqua;}
$bh-yellow:     #F2A81D;        .bh-yellow{color: $bh-yellow;}
$bh-orange:     #F2790F;        .bh-orange{color: $bh-orange;}
$bh-cyan:       #24B0BF;        .bh-cyan{color: $bh-cyan;}
$bh-dark-blue:  #021C26;        .bh-dark-blue{color: $bh-dark-blue;}


// Var
$light-border:solid 1px $bh-light-gray;

$avatar-size: 200px;

@mixin center_absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

